/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* In your global CSS file (e.g., styles.css) */

/* Add to your global CSS file */
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
